@font-face {
    font-family: 'Wumpus Mono Pro Web';
    src: url('./fonts/WumpusMonoProVF.woff2') format('woff2'),
    url('./fonts/WumpusMonoProVF.woff') format('woff'),
    url('./fonts/WumpusMonoProVF.ttf') format('ttf');
}

:root {
    --primary-color: #8aff8a;
    --secondary-color: #000000;
    --dot-pattern: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8"><rect x="0" y="0" width="2" height="2" fill="%238aff8a" /><rect x="4" y="4" width="2" height="2" fill="%238aff8a" /></svg>');
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: 'Wumpus Mono Pro Web', monospace;
    font-size: 13px;
    font-weight: 300;
    font-feature-settings: "ss03" 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color: var(--primary-color);
}

#canvas {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

button, input, select {
    margin-top: 20px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-family: 'Wumpus Mono Pro Web', monospace;
}

button, input[type="color"], select {
    height: 38px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-family: 'Wumpus Mono Pro Web', monospace;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#secondaryColorPicker {
    background-color: var(--secondary-color);
}
#secondaryColorPicker:hover {
    background-color: var(--primary-color);
}

button {
    cursor: pointer;
}

button:hover, input[type="color"]:hover, select:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s, box-shadow 0.3s;
}

select {
    margin-top: 20px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-family: 'Wumpus Mono Pro Web', monospace;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

select:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 255, 0, 0.3);
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: var(--secondary-color);
    border-radius: 5px;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
}

label {
    color: var(--primary-color);
}

.heading-bar {
    height: 50px;
    padding: 25px;
}

.footer-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, var(--secondary-color) 70%, rgba(255, 255, 255, 0));
    font-size: 11px;
    width: 100%;
    height: 25px;
    padding: 25px;
}

.pattern-bg {
    background-color: var(--secondary-color);
    background-image: var(--dot-pattern);
    background-repeat: repeat;
    background-size: 4px 4px;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 100%;
}

.inner-box {
    background: var(--secondary-color);
    margin: auto;
    padding: 0;
    width: 80%;
    aspect-ratio: 1 / 1;
}

#the-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.solid-border-box {
    border-style: solid;
    position: relative;
    margin: auto;
    top: -35px;
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
    border-width: 1px;
    width: 80%;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bottom-space {
    width: 100%;
    height: 50px;
    flex-shrink: 0;
}

#video {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
